span.brand-color {
  color: #dfba19;
}

span.brand-muted-color {
  color: #b89a14;
}

span.brand-subtle-color {
  color: #4b5563;
}


span.red {
  color: red;
}

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.align-justify { text-align: justify; }